/*html {
  background-color: #333333;
}

.geff-top {
  background-color: #3c8dbc;
}*/

.geff-main {
  padding: 24px;
}

.navbar {
  background-color: #3c8dbc;
  padding: 0px 18px;
  color: white;
}

.navbar .geff-nav-item {
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  vertical-align: bottom;
  height: 100%;
}

.geff-nav-current {
  background-color: #4c9dcc;
}

.geff-nav-logo {
  margin: 0px 6px;
}

.geff-nav-name {
  font-size: 125%;
  font-weight: bold;
}

.geff-nav-title {
  font-size: 75%;
  font-style: italic;
}

.geff-quick-help {
  font-size: 75%;
  font-style: italic;
}

.geff-gene-symb {
  color: blue;
  font-family: monospace;
}

.geff-gene-name {
  font-size: 80%;
  font-style: italic;
}

.geff-help-img {
  height: 100%;
  width: 100%;
}
