{% extends "master.html" %}
{% set section = "help" %}

{% block main %}
<p>We provide here the description of the <b>GeFF sections</b> and of the main functionalities they provide, together with the specification of how to use them.</p>
<!-- <p>For a full <b>guided tour</b> of GeFF and its capabilities, please watch the <a href=".....">GeFF video tutorial</a>.</p> -->
<p>&nbsp;</p>

<p>The <b><em><a href="{{ url_for("ui.known_form") }}">Browse</a></em> section</b> allows to query the GeFF database of known <a href="http://geneontology.org/" target="GO">Gene Ontology</a> (GO) annotations of the genes of multiple organisms (all organisms in the <a href="https://www.ncbi.nlm.nih.gov/gene/" target="Gene">Entrez Gene</a> database) to extract and browse the annotations of the desired genes and organism.</p>
<ul>
<li>The user has to select the taxonomy name of one of the available organisms (e.g., <em>Boss taurus</em>), and may optionally indicate specific genes of the organism for which annotations must be retrieved (e.g., BRCA1); if no genes are specified, all known gene annotations for the selected organism are retrieved.</li>
</ul>
<ul>
<li>By default, only reliable known annotations derived from experimental evidence are returned; by enabling the "<em>Include IEA-only annotations</em>" option, the retrieved results also include annotations with only "<em><a href="http://wiki.geneontology.org/index.php/Inferred_from_Electronic_Annotation_(IEA)" target="IEA">Inferred from Electronic Annotation</a></em>" evidence, thus less reliable.</li>
</ul>
<p>&nbsp;<img class="geff-help-img" src="{{ url_for("static", filename="GeFF_Browse.jpg") }}" alt="GeFF Browse section" /></p>

<p>&nbsp;</p>
<p>The <b><em><a href="{{ url_for("ui.predict_form") }}">Predict</a></em> section</b> allows to compute and browse novel predicted <a href="http://geneontology.org/" target="GO">Gene Ontology</a> annotations of the genes of a user-chosen target organism out of all organisms in the <a href="https://www.ncbi.nlm.nih.gov/gene/" target="Gene">Entrez Gene</a> database, by combining precomputed predicted annotations using a user-selected prediction ensemble model.</p>
<ul>
<li>Other than the target organism (e.g., <em>Boss taurus</em>) and the optional list of specific genes (e.g., BRCA1), the user may select the <em>type of ensemble</em> prediction model to be used (<em>AVG</em> or <em>x out of 5</em>, with x = 1, 2, 3, 4, or 5) and the threshold indicating the <em>minimum likelihood</em> a predicted annotation should have to be considered. For each organism and prediction model, the maximum threshold to get at least one prediction is indicated; by setting the threshold to 0, all potentially valid predictions are retrieved.</li>
</ul>
<ul>
<li>By default, prediction models are trained only on reliable annotations derived from experimental evidence; by enabling the "<em>Use model trained also on IEA-only annotations</em>" option, the results are based on models trained also on annotations with only "<em>Inferred from Electronic Annotation</em>" evidence, i.e., only computationally derived.</li>
</ul>
<ul>
<li>Optionally, by enabling the "<em>Show predicted annotations for GO leaf terms only</em>" option, predicted annotations can be filtered to retrieve only the direct annotations of each gene, i.e., for each gene only those annotations involving their most specific (leaf) term in the Gene Ontology hierarchy.</li>
</ul>
<p>&nbsp;<img class="geff-help-img" src="{{ url_for("static", filename="GeFF_Predict.jpg") }}" alt="GeFF Predict section" /></p>

<p>&nbsp;</p>
<p>In both the <b><em><a href="{{ url_for("ui.known_form") }}">Browse</a></em> and <em><a href="{{ url_for("ui.predict_form") }}">Predict</a></em> sections</b>, by clicking on the corresponding button, the retrieved annotations can either be viewed and browsed in the Web interface or downloaded in a Comma Separated Values (CSV) file for their easy processing.</p>
<p>If the number of annotations is high, only the first {{ config.MAX_RESULTS_PAGES*config.RESULTS_PER_PAGE }} are shown in the Web interface, while the CSV file always contains their full list.</p>

<p>For each known gene GO annotation extracted in the <em>Browse</em> section, the following information is reported: <em>Gene ID</em>, <em>Gene name</em>, <em>Gene symbol</em>, <em>GO term ID</em>,<em> GO term name</em>, <em>GO type</em> (i.e., biological process, cellular component, or molecular function), <em>GO level</em>, <em><a href="http://geneontology.org/docs/guide-go-evidence-codes/" target="evidence">Evidence</a></em>, and <em><a href="http://geneontology.org/docs/go-annotations/#annotation-qualifiers" target="qualifier">Qualifier</a></em>.</p>
<p>For each predicted gene GO annotation retrieved in the <em>Predict</em> section, instead of the <em><a href="http://geneontology.org/docs/guide-go-evidence-codes/" target="evidence">Evidence</a></em> and <em><a href="http://geneontology.org/docs/go-annotations/#annotation-qualifiers" target="qualifier">Qualifier</a> </em>information the <em>Likelihood</em> of the predicted annotation is reported.</p>

<p>In the Web interface with the list of the retrieved gene annotations, besides downloading the entire list of retrieved annotations in a CSV file, the user can:</p>
<ul>
<li>View and browse the retrieved annotations, paged by {{ config.RESULTS_PER_PAGE }} items,</li>
<li>Click on a column header to sort full results by that column, click again to reverse order,</li>
<li>Click on a Gene ID to go to its Web page in the <a href="https://www.ncbi.nlm.nih.gov/gene/" target="Gene">Entrez Gene</a> database,</li>
<li>Click on a GO term ID to go to its <a href="http://geneontology.org/" target="GO">Gene Ontology</a> Web page in the <a href="http://amigo.geneontology.org/amigo/" target="AmiGO">AmiGO</a> browser.</li>
</ul>
<p>&nbsp;<img class="geff-help-img" src="{{ url_for("static", filename="GeFF_BrowseResults.jpg") }}" alt="GeFF Browse results Web page" /></p>
<p>&nbsp;<img class="geff-help-img" src="{{ url_for("static", filename="GeFF_PredictResults.jpg") }}" alt="GeFF Predict results Web page" /></p>

{% if config.CONTACT_MAIL %}
<br>

<p>For any bug report, suggestion, etc. about the app, please send an email to <a href="mailto:{{ config.CONTACT_MAIL }}?subject=GeFF webapp">{{ config.CONTACT_MAIL }}</a></p>
{% endif %}
{% endblock %}
