{% extends "master.html" %}
{% set section = "known" %}
{% set sel_taxonomy = request.args.t|default("0")|int %}

{% block main %}
<h2>Browse known annotations</h2>
<form id="browse-form">
  <div class="columns">
    <div class="column col-6">
      Select a taxonomy:
      <taxonomy-list name="t" size="10" style="width: 100%;" :taxonomies="taxonomies" @selected-taxonomy="changeTaxonomy"></taxonomy-list>
      <label class="form-checkbox">
        <input type="checkbox" name="i">
        <i class="form-icon"></i> Include IEA-only annotations
        <span class="geff-quick-help"><a href="http://wiki.geneontology.org/index.php/Inferred_from_Electronic_Annotation_(IEA)" target="_blank">(what are them?)</a></span>
      </label>
    </div>
    <div class="column col-6">
      <gene-selector id="gene-select" :tid="tid" :genes="genes"></gene-selector>
    </div>
  </div>
  <input type="hidden" name="g" v-model="geneIds">
  <button formaction="{{ url_for("ui.known_results") }}" formmethod="GET" class="btn btn-primary" :disabled="tid === null" :class="{'disabled tooltip tooltip-bottom': tid === null}" data-tooltip="Select a taxonomy first"><i class="icon icon-search"></i>&nbsp;View annotations</button>
  <button formaction="{{ url_for("ui.known_csv") }}" formmethod="GET" class="btn" :disabled="tid === null" :class="{'disabled tooltip tooltip-bottom': tid === null}" data-tooltip="Select a taxonomy first"><i class="icon icon-download"></i>&nbsp;Download as CSV</button>
</form>
{% endblock %}

{% block scripts %}
{{ script("genesel.js") }}
<script type="text/javascript">
$(function() {
  browseVueApp = new Vue({
    el: "#browse-form",
    data: {
      tid: null,
      genes: [],
      taxonomies: {{ taxonomies|tojson }}
    },
    computed: {
      geneIds: function() {
        return this.genes.map(function(gene) {return gene["id"];}).join(",");
      }
    },
    methods: {
      changeTaxonomy: function(ntid) {
        this.tid = ntid;
      }
    }
  });
});
</script>
{% endblock %}
