{%- macro nav_logo(name, url, image) -%}
<a href="{{ url }}" target="_blank" class="geff-nav-logo">
  <img src="{{ url_for("static", filename=image) }}" title="{{ name }}" alt="logo of {{ name }}">
</a>
{%- endmacro -%}
{%- macro nav_item(page, link_section) -%}
<a href="{{ url_for(page) }}" class="geff-nav-item{% if link_section==section %} geff-nav-current{% endif %}">{{ caller() }}</a>
{%- endmacro -%}
{%- macro script(file) -%}
<script src="{{ url_for("static", filename=file) }}"></script>
{%- endmacro -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GeFF</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section">
        {{ nav_logo("Università di Bologna", "https://www.unibo.it/en/", "logo-unibo.png") }}
        {{ nav_logo("Politecnico di Milano", "https://www.polimi.it/en/", "logo-polimi.png") }}
        {% call nav_item("ui.home", "home") %}
          <span class="geff-nav-name">GeFF</span>
          <span class="geff-nav-title">Gene Function Finder</span>
        {% endcall %}
        {% call nav_item("ui.known_form", "known") %}Browse{% endcall %}
        {% call nav_item("ui.predict_form", "predict") %}Predict{% endcall %}
        {% call nav_item("ui.help", "help") %}Help{% endcall %}
      </section>
    </header>
    <div class="container geff-main">
      {% if config.NOTICE %}
        <p class="toast toast-warning">{{ config.NOTICE|safe }}</p>
      {% endif %}
      {% block main %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
