{% extends "master.html" %}
{% set section = "predict" %}
{% set sel_taxonomy = request.args.t|default("0")|int %}

{% block main %}
<h2>Get predicted annotations</h2>
<form class="form-horizontal" id="predict-form">
  <div class="columns">
    <div class="column col-6" id="stats-app">
      Select a target taxonomy:
      <taxonomy-list name="t" size="7" style="width: 100%;" :taxonomies="taxonomies" @selected-taxonomy="changeTaxonomy"></taxonomy-list>
      <label class="form-checkbox">
        <input type="checkbox" name="i" v-model="iea">
        <i class="form-icon"></i> Use model trained also on IEA-only annotations
        <span class="geff-quick-help"><a href="http://wiki.geneontology.org/index.php/Inferred_from_Electronic_Annotation_(IEA)" target="_blank">(what are them?)</a></span>
      </label>
      <div class="form-group">
        <div class="col-6">
          <label class="form-label" for="ensemble-select">Ensemble prediction model</label>
        </div>
        <div class="col-6">
          <select name="e" id="ensemble-select" class="form-select" v-model="modelType">
            <option value="0">AVG</option>
            <option value="1">At least 1 of 5 (union)</option>
            <option value="2">At least 2 of 5</option>
            <option value="3">At least 3 of 5</option>
            <option value="4">At least 4 of 5</option>
            <option value="5">At least 5 of 5 (intersection)</option>
          </select>
        </div>
      </div>
      <div class="form-group" :class="{'has-error': !thrValid}">
        <div class="col-6">
          <label class="form-label" for="threshold-input">Minimum likelihood</label>
        </div>
        <div class="col-6">
          <div class="input-group">
            <div class="popover">
              <button type="button" class="btn input-group-btn" @click="thr = 0">Min: 0</button>
              <div class="popover-container">
                <div class="card">
                  <div class="card-body">Click to set threshold to 0, so that all potentially valid predictions are retrieved.</div>
                </div>
              </div>
            </div>
            <input id="thr-input" type="number" step=".01" min="0" max="1" class="form-input" name="l" id="threshold-input" v-model="thr">
            <div class="popover">
              <button type="button" class="btn input-group-btn" @click="thr = maxThr">Max: {{ "{{Math.round(maxThr*1000)/1000}}" }}</button>
              <div class="popover-container">
                <div class="card">
                  <div class="card-body">Maximum threshold to get at least one prediction, dependent from options above. Click to set as threshold.</div>
                </div>
              </div>
            </div>
          </div>
          <p v-show="!thrValid" class="form-input-hint">out of valid range</p>
        </div>
      </div>
      <label class="form-checkbox">
        <input type="checkbox" name="b">
        <i class="form-icon"></i> Show predicted annotations for GO leaf terms only
      </label>
    </div>
    <div class="column col-6">
      <gene-selector id="gene-select" :tid="tid" :genes="genes"></gene-selector>
    </div>
  </div>
  <input type="hidden" name="g" v-model="geneIds">
  <button formaction="{{ url_for("ui.predict_results") }}" formmethod="GET" class="btn btn-primary" :disabled="!formValid" :class="{'disabled': !formValid}"><i class="icon icon-search"></i>&nbsp;View predictions</button>
  <button formaction="{{ url_for("ui.predict_csv") }}" formmethod="GET" class="btn" :disabled="!formValid" :class="{'disabled': !formValid}"><i class="icon icon-download"></i>&nbsp;Download as CSV</button>
</form>
{% endblock %}

{% block scripts %}
{{ script("genesel.js") }}
<script type="text/javascript">
$(function() {
  predictVueApp = new Vue({
    el: "#predict-form",
    data: {
      tid: null,
      genes: [],
      taxonomies: {{ taxonomies|tojson }},
      modelType: 0,
      iea: false,
      maxThrsData: null,
      thr: 0
    },
    computed: {
      geneIds() {
        return this.genes.map(function(gene) {return gene["id"];}).join(",");
      },
      maxThr() {
        return this.maxThrsData ? this.maxThrsData[2 * this.modelType + this.iea] : 0;
      },
      thrValid() {
        return this.thr !== "" && this.thr >= 0 && this.thr <= this.maxThr;
      },
      formValid() {
        return this.tid !== null && this.thrValid;
      }
    },
    methods: {
      changeTaxonomy(ntid) {
        this.tid = ntid;
        var comp = this;
        $.getJSON("_stats", {t: ntid}, function(data) {
          comp.maxThrsData = data;
        });
      }
    }
  });
});
</script>
{% endblock %}
