{% extends "master.html" %}
{% set max_pages = config.MAX_RESULTS_PAGES %}
{% set max_results = max_pages*results.per_page %}

{% macro paging() %}
<p>Items {{ results.page_first }}-{{ results.page_last }} of {{ [results.total_items, max_results]|min }}</p>
<ul class="pagination">
  {% for page in range([results.total_pages, max_pages]|min) %}
  <li class="page-item{% if results.page_index==page %} active{% endif %}">
    <a href="{{ modify_query(p=page) }}">{{ page+1 }}</a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{% block main %}
{% if caption %}
<h2>{{ caption|safe }}</h2>
{% endif %}
{% if results.total_pages > max_pages %}
<p class="toast toast-primary">Only {{ max_results }} results shown out of {{ results.total_items }} total, please download as CSV to get the complete list</p>
{% endif %}
<p>
{% if csv_url %}<a href="{{ csv_url }}" class="btn btn-primary"><i class="icon icon-download"></i>&nbsp;Download as CSV</a>{% endif %}
{% if new_search_url %}<a href="{{ new_search_url }}" class="btn"><i class="icon icon-search"></i>&nbsp;New search</a>{% endif %}
</p>
{% if results.not_empty %}
{{ paging() }}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      {%- for key, header in columns -%}
      <th>
        <a href="{{ modify_query(s=key, d=(1 if (key==sort_key and not sort_desc) else 0), p=0) }}">{{ header }}</a>
        {%- if key == "evidence" -%}
        &nbsp;<a href="http://www.geneontology.org/page/guide-go-evidence-codes" target="_blank" class="geff-quick-help">(help)</a>
        {%- endif -%}
        {%- if key == sort_key -%}
        &nbsp;<i class="icon icon-{{ "downward" if (sort_desc) else "upward" }}"></i>
        {%- endif -%}
      </th>
      {%- endfor -%}
    </tr>
  </thead>
  <tbody>
    {% for item in results.page_items %}
    <tr>
      {%- for k, _ in columns -%}
      {%- if k == "gid" -%}
      <td><a href="https://www.ncbi.nlm.nih.gov/gene/{{ item[k] }}" target="_blank">{{ item[k] }}</a></td>
      {%- elif k == "tgoid" -%}
      <td><a href="http://amigo.geneontology.org/amigo/term/{{ item[k] }}" target="_blank">{{ item[k] }}</a></td>
      {%- elif k == "score" -%}
      <td>{{ item[k] | round(3) }}</td>
      {%- elif k == "ttype" -%}
      <td>{{ item[k] | replace("_", " ") }}</td>
      {%- else -%}
      <td>{{ item[k] }}</td>
      {%- endif -%}
      {%- endfor -%}
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ paging() }}
{% else %}
<p>No results</p>
{% endif %}
{% endblock %}
